<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--QUILL JS-->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <link href="{{ url_for('static', filename="/css/editor.css")}}" rel="stylesheet"/>
    <script defer src="{{ url_for('static', filename='/js/main.js') }}"></script>
    <link href="{{ url_for('static', filename="/css/nav.css")}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename="/css/main.css")}}" rel="stylesheet"/>
    <title>Blogging</title>
</head>
<body>
    {% include "nav.html" %}
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>