{% extends "app.html" %}


{% block content %}
<div>
    <h1 class="userBlogTitle">My Blogs</h1>
    <div class="blogCardContainer">
        {% for elem in data %}
        <div class="blogCards">
            <div class="blogLabel">
                <div>
                    <p><strong>ID:</strong> {{ elem[0] }}</p>
                    <p><strong>Title:</strong> {{ elem[1] }}</p>
                </div>
                <p><strong>Category:</strong> {{ elem[2] }}</p>
                <p><strong>Tags:</strong> {{ elem[3] | join(', ') }}</p>
                <div>
                    <p><strong>Created:</strong> {{ elem[6] }}</p>
                    <p><strong>Last Edited:</strong> {{ elem[7] }}</p>
                </div>
            </div>
            <div class="filterButton">
                {% if elem[5] == False %}
                    <input type="button" value="View" id="viewButton" onclick="viewBlog({{ elem[0] }})"/>
                {% else %}
                    <input type="button" value="Read" id="readButton" onclick="readBlog('{{ elem[1] }}')"/>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock content %}


